<div class="form-container">
  <div class="container mt-3">
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
              
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <div class="form-wrapper">
<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
  <p-card header="Register" [style]="{ width: '360px' }">
    <div class="field" >
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        formControlName="name"
        class="w-full"
        name="name"
        placeholder="Type your name"
      />
      <small
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="block p-error"
      >
        <div *ngIf="name.errors?.['required']">Name is required.</div>
        <div *ngIf="name.errors?.['pattern']">Enter a valid Name</div>
      </small>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Type your email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      />
      <p class="input-hint">*at least one number,uppercase,lowercase letter,8 characters</p>
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Password is required.</div>
      </small>
    </div>
    <div class="field">
      <label for="cpassword">Confirm Password</label>
      <input
        type="password"
        pInputText
        formControlName="cpassword"
        class="w-full"
        name="cpassword"
        placeholder="Confirm Password"
      />
      <small
        *ngIf="
          cpassword.invalid &&
          (cpassword.dirty || cpassword.touched)
        "
        class="block p-error"
      >
        <div *ngIf="cpassword.errors?.['required']">
          Confirm the password
        </div>
      </small>
      <small
        class="block p-error"
        *ngIf="registerForm.errors?.['passwordMismatch'] && cpassword.valid && password.valid"
      >
        Password should match
      </small>
    </div>
    <p-button
      label="Register"
      styleClass="w-full"
      [disabled]="registerForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>
  </p-card>
</form>
</div>
</div>
</div>
</div>
</section>
</div>
</div>